bert_score==0.3.13
clip==0.2.0
cpm_kernels==1.0.11
decord==0.6.0
deepspeed==0.16.4
easydict==1.13
einops==0.8.1
flash_attn==2.7.0.post2
gradio==6.0.1
moverscore==1.0.3
numpy==2.3.5
peft==0.4.0
Pillow==12.0.0
pycocoevalcap==1.2
Requests==2.32.5
sentencepiece==0.2.0
torch==2.5.1
torchvision==0.20.1
tqdm==4.67.1
transformers==4.57.3
